/* 
Zigrocoin Website CSS
Created by Patryk Dubaniewicz 
Version 1.0
*/

/* Reffers to the whole website */
* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
body {
    background-color: rgb(20, 20, 20);
}


/* basic elements styles */
.h0,h1,h2,h3,h4,p {
    color:#ececec;
}
.h0 {
    font-size: 50px;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 25px;
    font-weight: 300;
}
h3 {
    font-size: 20px;
    font-weight: 300;
}
h4 {
    font-size: 15px;
}
p {
    font-size: 15px;
}
a {
    color: rgb(231, 231, 231);
}

/* Navbar Styles */
nav, .nav_links, .nav_links li, .logo, header, li, .a, button {
    background-color: #080808;
}
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 5%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    
}
.header.opacity {
    opacity: 0.5;
}


.logo {
    cursor: pointer;
    margin-right: auto;
    

}

li,.a,button {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #ececec;
    text-decoration: none;
}
.nav_links {
    list-style: none;
    text-transform: uppercase;
    margin-right: 50px;

}
.nav_links li {
    display: inline-block;
    padding: 0 20px;
}
.a {
    padding: 10px;
}
.a:hover {
    text-decoration: underline;
}
.menu-button { /* Mobile only */
    position: absolute;
    top: 2.5rem;
    right: 3rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.menu-button .bar { /* Mobile only */
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* Buttons */
button {
    padding: 9px 25px;
    background-color: rgba(247, 247, 247, 1);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #050505;
    text-transform: uppercase;
    font-weight: 700;
    background-color: black;
}
button:hover {
    background-color: rgba(247, 247, 247, 0.8);
}
.button_link{
    color: #050505;
    text-decoration: none;
    background-color: rgba(247, 247, 247, 1);
    transition: all 0.3s ease 0s;
}
.button_link:hover {
    background-color: rgba(247, 247, 247, 0.8);
}
.button_link_red{
    color: #f3f3f3;
    text-decoration: none;
    background-color: rgb(173, 20, 20);
    transition: all 0.3s ease 0s;
    padding: 15px 50px;
    font-size: 25px;
}
.button_link_red:hover {
    background-color: rgba(145, 5, 5, 0.8);
}
.button_link_blue{
    color: #f3f3f3;
    text-decoration: none;
    background-color: rgb(17, 112, 189);
    transition: all 0.3s ease 0s;
    padding: 15px 50px;
    font-size: 25px;
}
.button_link_blue:hover {
    background-color: rgba(0, 89, 148, 0.8);
}
.button_link a {
    text-decoration: none;
    background: none;
    color: #050505;
}
.button_link_blue a {
    text-decoration: none;
    background: none;
}

/* Styles for the main page on the website */

.title_text {
    padding-left: 20%;
    padding-right: 20%;
    text-shadow: 0 0 10px black, 0 0 30px black;

}

.hero_text {
    text-align: center;
    padding-top: 250px;
    padding-bottom: 200px;
    padding-left: auto;
    padding-right: auto;
}
.hero {
    background-image: url(./images/Background.jpg);
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    left: 0px;
    padding-left: 0px;
}
/* What is Zigrocoin section */
.what {
    padding: 100px 200px;
    left: 0px;
}

/* How to buy section */
.how_to_buy {
    padding: 100px 200px;
}
.how_to_buy h3, .how_to_buy h2, .how_to_buy, .how_to_buy .reveal, .how_to_buy h1 {
    background-color: rgb(221, 221, 221);
    color: rgb(26, 26, 26);

}
.how_to_buy h1, .how_to_buy h2 {
    font-weight: 700;
}
.how_to_buy a {
    background-color:rgb(221, 221, 221); 
    color:rgb(26, 26, 26);

}
.step {
    padding: 3px 0;
}

/* Frequently asked questions section */
.FAQ {

    padding: 100px 200px;
}
.Question {
    padding-top: 20px;
}
.bar_faq {
    background-color: rgb(128, 128, 128);
    padding-top: 0.1rem;
    padding-bottom: 0rem;
    padding-left: 50%;
    padding-right: 50%;
    border-radius: 0px;

}
.footer {
    background-color: black;
    color: rgb(177, 177, 177); 
    text-align: center;
    padding: 10px;
}
.footer h4 {
    background-color: black;
}

/* For mobile devices and tablets only */
@media(max-width: 1220px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 20px;
    }

    .menu-button {
        display: flex;
        top: 28px;
    }
    #button_nav {
        display: none;
    }
    .logo {
        align-items: center;
        height: 50px;
    }


    header {
        position: fixed;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

    }
    .nav_links {
        right: 0px;
        top: 8vh;
        height: 100px;
        width: 100%;
        display: none;
        align-items: center;
        flex-direction: column;  
        padding-bottom: 50px;
        margin-right: 0%;
    }
    .nav_links .active {
        display: flex;
    }


    .nav_links li {
        padding: 20px 0;
    }
    .navigation_bar {
        width: 100%;
        padding-left: 50%;
        padding-right: 50%;
    }
    .hero_text {
        padding-top: 150px;
    }


    .title_text {
        font-size: 35px;
        padding: 10% 0;
        padding-bottom: 30px;
        padding-top: 0px;
        text-shadow: 0 0 10px black, 0 0 10px black;

    }
    .hero {
        background-size: 1200px, 1200px;
        padding-bottom: 50px;
    }

    .hero_text {
        padding-bottom: 10px;
    }
    .button_link_red, .button_link_blue {
        padding: 15px 45px;
        font-size: 20px;
        margin: 5px;
    }

    .what {
        padding-top: 80px;
        padding: 10px 5%;
        padding-bottom: 50px;
    }
    .what h1 {
        padding-top: 50px;
    }

    .how_to_buy h3, .how_to_buy h2, .how_to_buy, .how_to_buy .reveal, .how_to_buy h1 {
        padding: 0% 10px;
        background-color: rgb(221, 221, 221);
        color: rgb(26, 26, 26);
    }
    .how_to_buy {
        padding-top: 50px;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 50px;
    }
    .how_to_buy h1 {
        font-weight: 700;
    }
    .how_to_buy h2 {
        font-weight: 700;
        font-size: 25px;
    }
    .how_to_buy a {
        background-color:rgb(221, 221, 221); 
        color:rgb(26, 26, 26); 
    }
    .FAQ {
        padding: 50px 5%;
    }
    .FAQ h2 {
        font-weight: 700;
        font-size: 25px;
    }
}